<div class="modal-container">
    <h2>Add an Offer</h2>
    
    <form>
      <div class="form-group">
        <label for="shop">Shop</label>
        <input type="text" [(ngModel)]="offer.shop" id="shop" name="shop" required>

        <label for="price">Price</label>
        <input type="number" [(ngModel)]="offer.price" id="price" name="price" min=0.01 step=0.01 required>

        <label for="name">Name</label>
        <input type="text" [(ngModel)]="offer.name" id="name" name="name" required>

        <label for="imageLabel">Image</label>
        <label for="image" name="imageLabel" id="imageLabel" (click)="pickFile()">pick a product's image</label>
        <input type="file" [(ngModel)]="offer.image" id="image" name="image">
      </div>
  
      <br>
      <button type="submit" class="submit" (click)="submitForm()">submit</button>
    </form>
</div>