button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #0056b3;
}

#userPanel {
    top: 0;
    right: 0;
    width: 20vw;
    height: 20vh;    
    background-color: white;
    position: fixed;
}

#signIn {
    transition: background-color 0.3s;
    margin-top: 5%;
    right: 0;
    position: absolute;
    border-radius: 20px 0 0 20px;
}

#signIn:hover {
    background-color: #0056b3;
}
