<div class="modal-container">
    <h2>Sign In</h2>
    
    <form>
      <div class="form-group">
        <label for="emailOrUsername">Email or Username</label>
        <input type="text" id="emailOrUsername" name="emailOrUsername" [(ngModel)]="signInForm.emailOrUsername" placeholder="email or username" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="signInForm.password" placeholder="password" required>
      </div>
  
      <button (click)="submitForm()" type="submit" class="submit-button">Log In</button>
    </form>

    <p *ngIf="signInErrorVisibility" class="warning">
      Incorrect email or password.
    </p>
  
    <div class="signup-link">
      <a href="javascript:void(0);" (click)="openSignUpModal()">Don't have an account?</a>
    </div>
  </div>
  