/* You can add global styles to this file, and also import other style files */

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f5f7;
    background-attachment: fixed;
 }
