form {
    position: relative;
    display: inline-block;
}

textarea {
    margin-top: 35vh;
    width: 650px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: none;
    text-align: center;
}

textarea::placeholder {
    color: #999;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #0056b3;
}

.offers {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.productCard {
    font-size: large;
    background-color: white;
    width: 18vw;
    height: 37vh;
    border-radius: 5%;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.updatePriceButton {
    bottom: 5%;
    position: absolute;
}

.offersHeader {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    line-height: 1.8;
}
