textarea {
    margin-top: 40vh;
    margin-left: 0;
    width: 650px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: none;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 130%;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

textarea::placeholder {
    color: #999;
}

button:hover {
    background-color: #0056b3;
}

#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15%;
}

#userPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;    
    background-color: white;
    border-bottom-left-radius: 15%;
}


#addOffer {
    position: inherit;
    top: 5%;
    left: 5%;
}

#signIn {
    position: inherit;
    width: 50%;
    margin-right: 0;
    transition: background-color 0.3s;
    border-radius: 20px 0 0 20px;
}

#signIn:hover {
    background-color: #0056b3;
}

.offers {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.productCard {
    font-size: large;
    background-color: white;
    width: 18vw;
    height: 37vh;
    border-radius: 5%;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.updatePriceButton {
    bottom: 5%;
    position: absolute;
}

.offersHeader {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    line-height: 1.8;
}

.productData {
    position: relative;
    width: 80%;
}
