<div class="modal-container">
    <h2>Sign Up</h2>
    
    <form>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="signUpForm.username" id="username" placeholder="Enter Your username" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="signUpForm.email" id="email" placeholder="Enter Your email" required>
      </div>      
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="signUpForm.password" id="password" placeholder="Enter password" required>
        <br>
        
        <p *ngIf="passwordRequirementsVisibility">
          The password must be at least 8 characters long, contain at least one lowercase and uppercase letter, a number and a special character.
        </p>
      </div>

      <div class="form-group">
        <label for="repeat-password">Repeat password</label>
        <input type="password" name="repeatPassword" [(ngModel)]="signUpForm.repeatPassword" id="repeat-password" placeholder="Repeat password" required>
      </div>
  
      <button (click)="submitForm()" type="submit" class="submit-button">Sign Up</button>
    </form>
    
  </div>
  